# .env.example
# Copy this file to .env and fill in the values

# Kafka
KAFKA_BROKERS=kafka:9092
KAFKA_TOPIC=weather-data
GROUP_ID=weather-group
CLUSTER_ID=S3gBDPSmSPWUi-ijFP5EwQ

# Topic config
NUM_PARTITIONS=1
REPLICATION_FACTOR=1

# Producer
PRODUCER_PORT=8000
WEATHER_API_URL=https://api.weather.gov/gridpoints/LOX/150,48/forecast
WEATHER_API_USER_AGENT=myweatherapp.com

# Consumer
CONSUMER_PORT=8001

# Grafana
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=admin

# Kafka UI
KAFKA_UI_PORT=8080